body {
	font-family: Arial, serif;
	background: url("Tree2.gif");
	opacity: 0.2;
}




h1 {
	font-size: 42px;
}

h2 {
	font-size: 22px; 
}

h3 {
	font-size: 18px; 
}

.jumbotron {
  display: flex;
  align-items: center;
  background-image: url("Tree2.gif");
  background-size: cover;
  color: #ffffff;
  height: 500px;
  text-shadow: 0.25px 0.25px 0.25px #000000;
  opacity: 0.4;
}


.lastImg {
	background-image: url(#);
	background-position: center top;
	background-size: cover;
	padding: 250px 0;
	margin: 30px;
	text-shadow: 0 2px #000000;
	font-family: Arial, serif;

}








