img.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 500px;
}

body {
	font-family: Arial, serif;
	height: 100%;
	margin: 0;
	text-align: left;
	width: 100%;
}

h1 {
	font-size: 32px;
}

h2 {
	color: black;
	font-size: 56px; 
}


.lastImg {
	background-image: url(#);
	background-position: center top;
	background-size: cover;
	padding: 250px 0;
	margin: 30px;
	text-shadow: 0 2px #000000;
	font-family: Arial, serif;

}


p {
	color: black;
	font-size: 2em;
}






