img.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 500px;
}

body {
	font-family: Arial, serif;
	height: 100%;
	margin: 0;
	text-align: left;
	width: 100%;
}

h1 {
	font-size: 24px;
}

h2 {
	font-size: 22px; 
}

h3 {
	font-size: 18px; 
}

.jumbotron {
  display: flex;
  align-items: center;
  background-image: url('tree.jpg');
  background-size: cover;
  color: #ffffff;
  height: 500px;
  text-shadow: 0.25px 0.25px 0.25px #000000;
}


.lastImg {
	background-image: url(#);
	background-position: center top;
	background-size: cover;
	padding: 250px 0;
	margin: 30px;
	text-shadow: 0 2px #000000;
	font-family: Arial, serif;

}








